:root {
  --clr-primary-nutmeg: hsl(14, 45%, 36%);
  --clr-primary-raspberry: hsl(332, 51%, 32%);

  --clr-neutral-white: hsl(0, 0%, 100%);
  --clr-neutral-rose: hsl(330, 100%, 98%);
  --clr-neutral-eggshell: hsl(30, 54%, 90%);
  --clr-neutral-grey: hsl(30, 18%, 87%);
  --clr-neutral-coffee: hsl(30, 18%, 87%);
  --clr-neutral-brown: hsl(30, 10%, 34%);
  --clr-neutral-charcoal: hsl(24, 5%, 18%);

  --ff-body: "Outfit", sans-serif;
  --ff-heading: "Young Serif", serif;

  --fw-regular: 400;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  --fs-400: 1rem;
  --fs-500: 1.25rem;
  --fs-600: 1.75rem;
  --fs-800: 2.5rem;
}

/* CSS reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

/* General styling */

body {
  display: grid;
  font-family: var(--ff-body);
  font-size: var(--fs-400);
  color: var(--clr-neutral-brown);
  line-height: 1.5;
}

h1,
h2,
h3 {
  line-height: 1;
}

h1 {
  margin-top: 2.5rem;
}

.container {
  display: grid;
  background-color: var(--clr-neutral-white);
  padding-bottom: 2.5rem;
  margin-inline: auto;
}

section {
  margin-inline: 32px;
}

.preparation {
  padding: 24px;
  border-radius: 12px;
  margin-block: 2rem;
}

.preparation h2 {
  margin-bottom: 1rem;
}

ol,
ul {
  display: grid;
  gap: 8px;
  margin-left: 24px;
}

li {
  padding-left: 16px;
}

li::marker {
  color: var(--clr-primary-nutmeg);
}

ul li::marker {
  font-size: small;
}

ol li::marker {
  font-weight: var(--fw-bold);
}

.preparation li::marker {
  color: var(--clr-primary-raspberry);
}

hr {
  color: var(--clr-neutral-coffee);
  border: 1px solid;
  margin-block: 2rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

tr {
  border-bottom: 1px solid var(--clr-neutral-grey);
}

tr:last-child {
  border-bottom: 0;
}

th {
  font-weight: var(--fw-regular);
}

th {
  padding-left: 32px;
  padding-right: 8px;
}

td {
  padding-left: 8px;
  padding-right: 32px;
}

th,
td {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  text-align: left;
}

tr:first-child th,
tr:first-child td {
  padding-top: 0;
}

tr:last-child th,
tr:last-child td {
  padding-bottom: 0;
}

/* Media queries */

@media (min-width: 50em) {
  body {
    background-color: var(--clr-neutral-eggshell);
  }

  .container {
    max-width: 46rem;
    border-radius: 24px;
    margin-block: 123px;
    padding: 40px;
  }

  section {
    margin-inline: 0;
  }

  img {
    border-radius: 12px;
  }
}

/* Utility classes */

.text-primary-nutmeg {
  color: var(--clr-primary-nutmeg);
}
.text-primary-raspberry {
  color: var(--clr-primary-raspberry);
}
.text-neutral-grey {
  color: var(--clr-neutral-grey);
}
.text-neutral-brown {
  color: var(--clr-neutral-brown);
}
.text-neutral-charcoal {
  color: var(--clr-neutral-charcoal);
}

.bg-neutral-white {
  background-color: var(--clr-neutral-white);
}
.bg-neutral-rose {
  background-color: var(--clr-neutral-rose);
}
.bg-neutral-eggshell {
  background-color: var(--clr-neutral-eggshell);
}

.ff-heading {
  font-family: var(--ff-heading);
}

.fw-regular {
  font-weight: var(--fw-regular);
}
.fw-semi-bold {
  font-weight: var(--fw-semi-bold);
}
.fw-bold {
  font-weight: var(--fw-bold);
}

.fs-400 {
  font-size: var(--fs-400);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-800 {
  font-size: var(--fs-800);
}

:where(.flow > :not(:first-child)) {
  margin-top: var(--flow-spacer, 1.5rem);
}

/* Attribution */

.attribution {
  font-size: 0.7rem;
  text-align: center;
  margin: 1rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
